/* Estructuración del modelo común entre las páginas */

header{
    height: 10%;
    padding: 1.5rem;
}
.header .nav_enlaces a{
    font-size: 2.7rem;
}
.header .nav_enlaces li{
    margin-left: 3rem;
    margin-right: 3rem;
    cursor: pointer;
}
.header .nav_enlaces li:hover{
    font-weight: 700;
    transform: scale(1.1);
}
.footer{
    height: 10%;
    padding: 4.5rem 0rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
    position: static;
    justify-content: center;
}

/* Sección sobre mi */

.row{
    height: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    flex-direction: row;
}

.row .aside{
    height: 58rem;
    width: 40%;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px 0px black inset;
    background-color: var(--Container-color);
}
.row .aside h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 20rem;
}
.row .aside .img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    padding-bottom: 0 ;
}
.row .aside .img img{
    width: 90%;
    margin-top: 0rem;
    box-sizing: content-box;
}
.row .aside h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 20rem;
}
.row .aside .section-info{
    align-items: center;
    padding: 0rem;

}
.row .aside .section-info .section-info-element1,
.row .aside .section-info .section-info-element2{
    margin: 2rem;
    font-size: 1.3rem;
    margin-bottom: 4rem;
    left: 0rem;
    right: 0rem;
}
.row .article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    height: 58rem;
    width: 60%;
    box-shadow: 0px 0px 10px 0px black inset;
    background-color: var(--Container-color);
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 4rem;
}
.row .article h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 3rem;
}

/* Sección de trabajo realizado */

.main{
    height: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: none;
    background-color: transparent;
}
.main .section-job-done{
    background-color: var(--Container-color);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px black inset;
    width: 100%;
    height: 100%;
    padding: 2rem;
}
.main .section-job-done h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 3rem;
}
.main .section-job-done .section-text{
    font-size: 1.5rem;
    padding: 0rem;
}
.main .section-job-done .section-images{
    flex-direction: row;
}
.main .section-job-done .section-images img{
    margin-top: 0rem;
    width: 15rem;
    height: 15rem;
    position: static;
    margin-bottom: 0rem;
}
.main .section-job-done .section-images figure{
    height: 25rem;
    width: 25rem;
    margin: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    left: 0;
}
.main .section-job-done .section-images figure img{
    width: 100%;
}
/* Seccion de contáctame */

.main .form{
    background-color: var(--Container-color);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px black inset;
    height: 100%;
    width: 60%;
}
.main .form .form-tittle h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.main .form .form-field .form-item input{
    position: relative;
    margin-top: 1.5rem;
}
.main .form .form-tittle p{
    font-size: 1.5rem;
}
.main .form .form-field{
    font-size: 2.4rem;
}
.main .form .form-field>button:hover{
    font-weight: 700;
    transform: scale(1.1);
}
.main .form .form-sent h2{
    font-size: 4rem;
}
.main .form .form-sent{
    font-size: 2.5rem;
}
.main .form .form-sent button:hover{
    font-weight: 700;
    transform: scale(1.1);
}
