/* Estructuración del modelo común entre las páginas */

body{
    height: 100%;
    width: 100%;
}
.header{
    width: 100%;
    height: 10vh;
    align-items: center;
    padding: 1.5rem;
}
.header .nav_enlaces li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.footer{
    width: 100%;
    height: 10vh;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

/* Sección sobre mi */

.row{
    width: 90%;
    height: 80vh;
    margin-top: 3rem;
}
.row .aside{
    height: 100%;
    width: 30%;
}
.row .aside h2{
    font-size: 3.5rem;
}
.row .aside .img{
    padding: 2.5rem;
    width: 70%;
}
.row .aside .section-info .section-info-element1,
.row .aside .section-info .section-info-element2{
    font-size: 1.6rem;
}
.row .article{
    height: 100%;
    font-size: 2rem;
    justify-content: flex-start
}
.row .article h2{
    align-items: flex-start;
    font-size: 4rem;
}

/* Sección de trabajo realizado */
.main{
    height: 80vh;
}
.main .section-job-done .section-text h2{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}
.main .section-job-done .section-text{
    font-size: 2rem;
}

/* Seccion de contáctame */
.main .form{
    justify-content: flex-start;
}

.main .form .form-tittle h2{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}
.main .form .form-tittle p{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.main .form .form-field{
    font-size: 2.5rem;
}